# vi: ft=sh
# shellcheck disable=all
#
# Load parent .envrc if available
source_up_if_exists

# Load environment variables from .env if it is present
dotenv_if_exists

# Load Nix Flake integration https://github.com/nix-community/nix-direnv
use flake

# Watch for any changes to any nix files
watch_file $(fd -tf -enix)

if [[ -f "${PWD}/.venv/bin/activate" ]]; then
  source "${PWD}/.venv/bin/activate"
fi

if [[ -f "${PWD}/.envrc.local" ]]; then
  source "${PWD}/.envrc.local"
fi
