default_language_version:
  python: python3.13

default_install_hook_types:
  - pre-commit
  - commit-msg

repos:
  - repo: https://github.com/jessedhillon/conventional-msg
    rev: '0.2.0'
    hooks:
      - id: conventional-msg
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: nix-fmt
        name: nix fmt
        entry: nix fmt
        language: system
        files: \.(nix|py|ya?ml|md|tsx?|jsx?|json|s?css|html)$
        pass_filenames: true

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.393
    hooks:
      - id: pyright

  - repo: local
    hooks:
      - id: format
        name: ruff + isort socratic
        entry: bash -c 'poetry run ruff format socratic/ && poetry run isort --dt socratic/'
        language: system
        types: [python]
        files: ^socratic/
      - id: format
        name: ruff + isort migrations
        entry: bash -c 'poetry run ruff format migrations/versions/ && poetry run isort --dt migrations/versions/'
        language: system
        types: [python]
        files: ^migrations/versions
  - repo: https://github.com/pre-commit/mirrors-prettier
    rev: v3.1.0
    hooks:
      - id: prettier
        name: prettier
        types_or: [javascript, jsx, ts, tsx, css, scss, html, json]
        additional_dependencies:
          - prettier@3.5.0
          - prettier-plugin-tailwindcss
