default_language_version:
  python: python3.13

default_install_hook_types:
  - pre-commit
  - pre-push
  - commit-msg

repos:
  - repo: https://github.com/jessedhillon/conventional-msg
    rev: '0.2.0'
    hooks:
      - id: conventional-msg
        stages: [commit-msg]

  - repo: local
    hooks:
      - id: nix-fmt
        name: nix fmt
        entry: nix fmt
        language: system
        files: \.(nix|py|ya?ml|md|tsx?|jsx?|json|s?css|html)$
        pass_filenames: true
        stages: [pre-commit]

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.9.2
    hooks:
      - id: ruff
        stages: [pre-commit]

  - repo: https://github.com/RobertCraigie/pyright-python
    rev: v1.1.393
    hooks:
      - id: pyright
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: tsc
        name: tsc
        entry: bash -c 'for dir in socratic/web/*/frontend; do [ -f "$dir/tsconfig.json" ] && (cd "$dir" && npx tsc --noEmit) || true; done'
        language: system
        files: ^socratic/web/.*/frontend/.*\.tsx?$
        pass_filenames: false
        stages: [pre-commit]

  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: poetry run pytest
        language: system
        pass_filenames: false
        always_run: true
        stages: [pre-push]
